
\.vs/

Binaries/

Saved/

Intermediate/AssetRegistryCache/

Intermediate/Build/

Intermediate/Config/

Intermediate/ReimportCache/

Intermediate/CachedAssetRegistry\.bin

*.opendb
*.VC.opendb
*.VC.db

Build/

Android_ASTC
Build/

WindowsNoEditor
Intermediate/Android/


Intermediate/Staging/


Intermediate/UAT/
